{% extends "dashboard/dashboard.html" %}
{% block title %}
<title>User Dashboard</title>
{% endblock title %}
{% block tasks %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white rounded-xl shadow-sm">
        <h1 class="p-4 text-2xl font-bold">Today's Tasks</h1>
        <div class="flex p-4 justify-between items-center">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div> 
                    <div>
                        <span>
                            Complete Project Proposal
                        </span>
                    </div>
                </div>
            </div>
            <div class="font-medium text-gray-500 mb-4">
                High
            </div>
        </div>
        <div class="flex p-4 justify-between items-center">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-yellow-500 rounded-full"></div> 
                    <div>
                        <span>
                            Review Team Updates
                        </span>
                    </div>
                </div>
            </div>
            <div class="font-medium text-gray-500 mb-4">
                Normal
            </div>
        </div>
        <div class="flex p-4 justify-between items-center">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-blue-500 rounded-full"></div> 
                    <div>
                        <span>
                            Prepare for client meeting
                        </span>
                    </div>
                </div>
            </div>
            <div class="font-medium text-gray-500 mb-4">
                Low
            </div>
        </div>
    </div>
     <!-- Task table  -->
    <div class="bg-white rounded-xl shadow-sm">
        <h1 class="p-4 text-2xl font-bold">All Tasks</h1>
        <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500">
            <div>TASK TITLE</div>
            <div>PRIORITY</div>
            <div>TEAM</div>
            <div>CREATED AT</div>
        </div>
        <!-- Task Items  -->
         <!-- Task Low  -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                    <div>
                        <span>
                            Test Low Task
                        </span>
                    </div>
                </div>
                <div>
                    <span class="bg-blue-50 text-blue-600 px-3 py-1 rounded-full text-sm">Low</span>
                </div>
                <div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">CA</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">JS</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">B</div>
                    </div>
                </div>
                <div>
                    <span class="text-gray-500">9 Months Ago</span>
                </div>
              </div>
        </div>
        <!-- Task Medium  -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                    <div>
                        <span>
                            Test Task
                        </span>
                    </div>
                </div>
                <div>
                    <span class="bg-gray-50 text-gray-600 px-3 py-1 rounded-full text-sm">Normal</span>
                </div>
                <div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">AJ</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">EV</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">B</div>
                    </div>
                </div>
                <div>
                    <span class="text-gray-500">9 Months Ago</span>
                </div>
              </div>
        </div>
        <!-- Task High  -->
        <div class="divide-y divide-solid divide-gray-100">
            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-orange-500 rounded-full"></div>
                    <div>
                        <span>
                            Test Task
                        </span>
                    </div>
                </div>
                <div>
                    <span class="bg-red-50 text-red-600 px-3 py-1 rounded-full text-sm">High</span>
                </div>
                <div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">CA</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">JS</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">AJ</div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm border-2 border-white">B</div>
                    </div>
                </div>
                <div>
                    <span class="text-gray-500">10 Months Ago</span>
                </div>
              </div>
        </div>
    </div>
 </div>
{% endblock tasks %}